In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.__version__ # Version of Pandas

'1.5.3'

In [4]:
data = pd.read_csv('/Users/MyWor/Downloads/raw.githubusercontent.com_alexeygrigorev_datasets_master_housing.csv')

In [5]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [6]:
data.shape[1] # Number of columns in the dataset

10

In [11]:
data.isna().sum() # Are there any columns with missing data?

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [13]:
data.ocean_proximity.value_counts()

longitude               844
latitude                862
housing_median_age       52
total_rooms            5926
total_bedrooms         1923
population             3888
households             1815
median_income         12928
median_house_value     3842
ocean_proximity           5
dtype: int64

In [12]:
data.ocean_proximity.nunique() # How many unique values does the ocean_proximity column have?

5

In [14]:
data.groupby('ocean_proximity')['median_house_value'].agg(['min', 'mean', 'max']) # What's the average value of the median_house_value for the house located near the bay?

                      min           mean       max
ocean_proximity
<1H OCEAN         17500.0  240084.285464  500001.0
INLAND            14999.0  124805.392001  500001.0
ISLAND           287500.0  380440.000000  450000.0
NEAR BAY          22500.0  259212.311790  500001.0
NEAR OCEAN        22500.0  249433.977427  500001.0

In [15]:
data[data.ocean_proximity == 'NEAR BAY']['median_house_value'].mean()

259212.31179039303

Calculate the average of total_bedrooms column in the dataset
Use the fillna method and to fill the missing values in total_bedrooms with the mean value from the previous step.
Now, calcualte the average of total_bedrooms again.
Has it changed?

In [16]:
mean_bedrooms = data['total_bedrooms'].mean()
mean_bedrooms

537.8705525375618

In [17]:
data['total_bedrooms'].fillna(mean_bedrooms).mean()

537.8705525375617

There is the same result.

Select all the options located on islands.

Select only columns housing_median_age, total_rooms, total_bedrooms.

Get the underlying NumPy array. Let's call it X.

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.

Create an array y with values [950, 1300, 800, 1000, 1300].

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the value of the last element of w?

In [18]:
island_df = data[data.ocean_proximity == 'ISLAND']
island_df = island_df[['housing_median_age', 'total_rooms', 'total_bedrooms']]
island_df

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [19]:
X = island_df.values
XTX = X.T.dot(X)

XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [21]:
y = np.array([950, 1300, 800, 1000, 1300])

In [22]:
w = (XTX_inv @ X.T) @ y

In [23]:
w

array([23.12330961, -1.48124183,  5.69922946])

In [24]:
w[2]

5.699229455065578